name: maven build
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  mvn:
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022, macos-15]
        java: [17]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5.1.0
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: Cache Maven dependencies
        uses: actions/cache@v4.3.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-jdk-${{ matrix.java }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-jdk-${{ matrix.java }}-maven-

      - name: Check versions
        run: java -version && mvn -version

      - name: Build with Maven
        run: mvn --errors --batch-mode clean install -DskipTests=false
